<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
        </ion-buttons>
    <ion-title>Finn</ion-title>
    <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="call"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
